/* General */
body {
    width: 100%;
    height: 100;
}

main>.col-6:first-child {
    background-color: var(--colorHF);
}

.row {
    justify-content: center;
}

/*Header*/
header {
    min-height: 70.1px;
}

.burgerMenu{
    width: 40px;
    height: 39px;
    background: none;
}

header>div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

button { /*Button del header*/
    background: none;
}

.buttonWhite { /*Mas estilos al button del header*/
    padding: 0.5rem 2rem;
    color: white;
    border: 0rem;
    border: solid 2px white;
    border-radius: 0.5rem;
    font-weight: bold;
}

.logoMenu{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.deleteBorde{
    border: 0rem;
}

/*Formulario */
.login {
    height: 100%;
    background: rgba(255, 255, 255, 1);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.containerLogin {
    position: relative;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    border-radius: 1rem;
    border: solid 1px #e8d8ff;
    max-width: 600px;

}

form {
    padding: 1rem 0.5rem;
}

[type='submit'] {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.style { /*Estilos para el detalle que esta a manor izquierda del formulario*/
    position: absolute;
    top: 30px;
    right: -9px;
    height: 130px;
    border-radius: 0.2rem;
    background: green;
    width: 10px;
    background-image:
        linear-gradient(360deg, #a868f4 25%, #701bb7 25% 50%, #8b32d5 50% 75%, #8b60ea 75% 100%);
}


.linkCreateAccount {
    color: var(--colorHF);
    font-weight: bold;
}

b{
    margin-bottom: 0.1rem;
}
    
.formLogin {
    padding: 1rem 0.5rem;
    max-width: 350px;
}

.containerLogin {
    max-width: 600px;
}

b{
    margin-bottom: 0.1rem;
}

form {
    padding: 1rem 0.5rem;
}

/*Index*/
.presentationIndex{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.presentationIndex > div > section .title{
    font-size: clamp(1rem, 20vw, 5rem);
    margin:0.5rem
}

.information{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
} 

.information >section{
    max-width: 550px;
    min-width: 100px;
}

/*Flex center*/



 

 
 


 
 

 

 

 

 
 
  