ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ ./404.php [L]

RewriteCond %{REQUEST_URI} ^/403/$
RewriteRule ^(.*)$ ./403.php [L]

Options All -Indexes