 
a {
    margin: 0.5rem 0rem;
    display: block;
    color: var(--colorBlack);
    text-decoration: none;
}

 
.col-4 > label{
    font-weight: bold;
    color: #7d5bd9;
}

.col-8 > label{
    font-weight: 500;
}
label > span{
    color: #ff5d5d;
}

 



img {
    width: 100px;
    clip-path: circle();
}


.checked {
    filter: drop-shadow(0px 4px 0px rgb(47, 47, 47));
    color: rgb(47, 47, 47);
    transform: perspective(2rem) translateZ(1rem);
    transform: perspective(500px) translateZ(20px);
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

[type='radio'] {
    display: none;
}

.selectionGender {
    padding-top: 0.5rem;
}

.selectionGender >  label > img{
    cursor: pointer;
    border: 0rem;
    width: 100px;
    clip-path: circle();
}

/*Modify*/


.checked {
    border: solid 2px rgb(47, 47, 47);
    color: rgb(47, 47, 47);
}

[type='radio']{
   display:none; 
} 
.selectionGender{
    padding-top: 0.5rem;
}