main {
    display: flex;
    justify-content: center;
}
a {
    margin: 0.5rem 0rem;
    display: block;
    color: var(--colorBlack);
    text-decoration: none;
}

.content{
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #e8d8ff;
    margin:1rem;
    max-width: 700px;
}

.deteleHistory{
    margin: 0rem !important;
}

h1{
    margin: 0;
    
}