.container {
    display: flex;
    justify-content: space-around;
}


.content {
    padding: 0rem !important;

}


.container .card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .num h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .num h2 {
    color: #fff;
    font-size: 60px;
}

.percent .num h2 span {
    color: #ffffff;
    font-size: 24px;
    transition: 0.5s;
}

.card:hover .percent .num h2 span {
    color: #fff;
}

.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: #00ff43;
}




.containerMyAbilities>div {
    border-radius: 1rem;
    text-align: center;
    border: solid 2px #ff7d45;
}

.containerMyAbilities>div>div {
    clip-path: circle(50% at 50% 0);
    background: #ff7d45;
}

.containerMyAbilities>div>div>i {
    color: white
}



.titleMyAbilities {
    color: rgb(47, 47, 47);
}

.lessons {
    color: #cc2e2e;
}

.dem {
    color: #2e7bcc;
}

.informationUser {
    color: #d5c5ff;
}

.titleComplete {
    color: #bba2ff;
}

.content>div:first-child {
    background: #916df4;
    color: white;
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background: rgb(145, 109, 242);
    background: linear-gradient(0deg, rgba(145, 109, 242, 1) 35%, rgba(139, 103, 238, 1) 84%);
}

.myProgress {
    background: #ff7d45;
    display: block;
    padding: 0.6rem 1rem;
    color: white;
}

.ContainerProgress {
    padding: 1rem ;
}


.detallsGems, .detallsLessons{
    color: rgb(47, 47, 47);
}
